<template>
    <button v-on:click="count++">Тест - счётчик кликов — {{ count }}</button>
</template>

<script>
    export default {
        data: function () {
            return {
                count: 0
            }
        },
    }
</script>